version: '3.8'

services:
  vsftpd:
    image: fauria/vsftpd
    container_name: vsftpd
    restart: always
    ports:
      - "21:21"                   # FTP Control Port
      - "21100-21110:21100-21110" # Passive Mode Ports
    environment:
      FTP_USER: ftpuser
      FTP_PASS: ftpuser
      PASV_ADDRESS: 10.1.194.44   # ใส่ IP ของเครื่องที่รัน Docker
      PASV_MIN_PORT: 21100
      PASV_MAX_PORT: 21110
      LOCAL_UMASK: 022
      LOG_STDOUT: "true"

    volumes:
      - ./ftp-data:/home/vsftpd   # ไฟล์ของ FTP
      - ./logs:/var/log/vsftpd    # ต้องเป็น directory ไม่ใช่ไฟล์

volumes:
  ftp-data:
