version: '3.8'

services:
  vsftpd_1:
    build: ./dockerfile-vsftpd_1/
    container_name: vsftpd_1
    restart: always
    networks:
      - ftp_net
    ports:
      - "21:21"
      - "21100-21110:21100-21110"
    volumes:
      - ./anon-data:/home/vsftpd/anon/upload
      - ./user-data:/home/ftpuser/upload
    environment:
      - PASV_ADDRESS=10.1.194.44
      - PASV_MIN_PORT=21100
      - PASV_MAX_PORT=21110

  vsftpd_2:
    build: ./dockerfile-vsftpd_2/
    container_name: vsftpd_2
    restart: always
    networks:
      - ftp_net
    ports:
      - "2121:21"
      - "22100-22110:22100-22110"
    volumes:
      - ./anon-data:/home/vsftpd/anon/upload
      - ./user-data:/home/ftpuser/upload
    environment:
      - PASV_ADDRESS=10.1.194.44
      - PASV_MIN_PORT=22100
      - PASV_MAX_PORT=22110

networks:
  ftp_net:
    driver: bridge