version: '3.8'

services:
  vsftpd:
    build: .
    container_name: vsftpd
    restart: always
    ports:
      - "21:21"
      - "21100-21110:21100-21110"
    volumes:
      - ./anon-data:/home/vsftpd/anon/upload
      - ./user-data:/home/ftpuser/upload
    environment:
      - PASV_ADDRESS=10.1.194.44